<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT products ANY>
<!ATTLIST products id ID #REQUIRED>
<!ELEMENT homePageCoafor ANY>
<!ATTLIST homePageCoafor id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT vortoValueTest ANY>
<!ATTLIST vortoValueTest id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1054" key="c8601df6-da54-46c1-b6ee-e75b023c253e" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-05-04T22:56:04" updateDate="2018-05-05T01:43:04" nodeName="HomePage" urlName="homepage" path="-1,1054" isDoc="" nodeType="1053" creatorName="Gabriel Cucu" writerName="Gabriel Cucu" writerID="0" template="1052" nodeTypeAlias="homePage" isPublished="true">
    <backgroundImage><![CDATA[umb://media/2bf657216bf94bc0a7de4c752db7dabd]]></backgroundImage>
    <jobTitle><![CDATA[Programator]]></jobTitle>
    <nameDeveloper><![CDATA[Cucu Gabriel]]></nameDeveloper>
    <developerImage><![CDATA[/media/1035/profilephoto.jpg]]></developerImage>
    <title><![CDATA[{"values":{"en-US":"This is title","ro-RO":"Acesta este un titlu"},"dtdGuid":"beee4ee8-7f7e-4809-b6a9-8b29cd3d98ca"}]]></title>
  </homePage>
  <homePageCoafor id="1110" key="4c9fe873-1580-422b-b52c-c97bd0305b95" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-05-05T14:22:49" updateDate="2018-05-05T14:23:16" nodeName="IndexMeu" urlName="indexmeu" path="-1,1110" isDoc="" nodeType="1108" creatorName="Gabriel Cucu" writerName="Gabriel Cucu" writerID="0" template="1106" nodeTypeAlias="homePageCoafor" isPublished="true">
    <products id="1113" key="acd4a5df-d156-4968-8291-8526de434ac4" parentID="1110" level="2" creatorID="0" sortOrder="0" createDate="2018-05-05T15:04:37" updateDate="2018-05-05T15:17:42" nodeName="Test 1" urlName="test-1" path="-1,1110,1113" isDoc="" nodeType="1112" creatorName="Gabriel Cucu" writerName="Gabriel Cucu" writerID="0" template="1111" nodeTypeAlias="products" isPublished="true">
      <title><![CDATA[Test title 1]]></title>
      <products id="1114" key="53983624-a506-4367-ba21-32e6cd568c64" parentID="1113" level="3" creatorID="0" sortOrder="0" createDate="2018-05-05T15:07:11" updateDate="2018-05-05T15:07:11" nodeName="test 2" urlName="test-2" path="-1,1110,1113,1114" isDoc="" nodeType="1112" creatorName="Gabriel Cucu" writerName="Gabriel Cucu" writerID="0" template="1111" nodeTypeAlias="products" isPublished="true">
        <title><![CDATA[test sa das das das]]></title>
      </products>
    </products>
  </homePageCoafor>
</root>