<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT vortoValueTest ANY>
<!ATTLIST vortoValueTest id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1054" key="c8601df6-da54-46c1-b6ee-e75b023c253e" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-05-04T22:56:04" updateDate="2018-05-05T01:43:04" nodeName="HomePage" urlName="homepage" path="-1,1054" isDoc="" nodeType="1053" creatorName="Gabriel Cucu" writerName="Gabriel Cucu" writerID="0" template="1052" nodeTypeAlias="homePage" isPublished="true">
    <backgroundImage><![CDATA[umb://media/2bf657216bf94bc0a7de4c752db7dabd]]></backgroundImage>
    <jobTitle><![CDATA[Programator]]></jobTitle>
    <nameDeveloper><![CDATA[Cucu Gabriel]]></nameDeveloper>
    <developerImage><![CDATA[/media/1035/profilephoto.jpg]]></developerImage>
    <title><![CDATA[{"values":{"en-US":"This is title","ro-RO":"Acesta este un titlu"},"dtdGuid":"beee4ee8-7f7e-4809-b6a9-8b29cd3d98ca"}]]></title>
  </homePage>
  <homePage id="1104" key="62fe07c0-4073-424f-9b4b-f9be0d7b8a30" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-05-05T14:06:40" updateDate="2018-05-05T14:15:49" nodeName="Coafor" urlName="coafor" path="-1,1104" isDoc="" nodeType="1053" creatorName="Gabriel Cucu" writerName="Gabriel Cucu" writerID="0" template="1052" nodeTypeAlias="homePage" isPublished="false" isDraft="">
    <backgroundImage><![CDATA[umb://media/2bf657216bf94bc0a7de4c752db7dabd]]></backgroundImage>
    <jobTitle><![CDATA[Programator]]></jobTitle>
    <nameDeveloper><![CDATA[Cucu Gabriel]]></nameDeveloper>
    <developerImage><![CDATA[/media/1037/profilephoto.jpg]]></developerImage>
    <title><![CDATA[{"values":{"en-US":"This is title","ro-RO":"Acesta este un titlu"},"dtdGuid":"beee4ee8-7f7e-4809-b6a9-8b29cd3d98ca"}]]></title>
  </homePage>
</root>